.container{
    min-width: 600px;
    min-height: 600px ;
}
#main-page{
    background-color: #F6F1D1;
    border-width: 0px;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 600px;
    position: fixed;
    top: 0%;
    left: 0%;

           
}
#fluteCell{
    background-color: white ;
    border-color: white;
}
#transition{
    background-image: linear-gradient(to right, white,#F6F1D1 );
}
td{
    position: relative;
 
}

.fluteContainer{
    position: absolute;
    margin-top: auto;
    margin-left: auto;
}

.pentagrammaContainer{
    position: absolute;
    top: 0px;
    right: 5%;
}

#audioSection{
    position:absolute;
    left:22%;
    top:5%
}

#buttons{
    left: 10%;
    top: 5%;
    background-color:#291f1e;
    z-index: 1;
    height: 262px;
    border-radius: 20px;
    border-width: 5px;
    border-style: ridge;
    border-color: #888;
}

.Accordatore{
    position: relative;

    background-color: #291f1e;
    z-index: 1;
    border-radius: 20px;
    border-width: 5px;
    border-style: ridge;
    border-color: #888;  

}
#TunerNote{
    position:absolute;
    bottom: 12%;
    width: 20%;
    height: 15%;
    left: 12%;
    border-radius: 10%;
}

#TunerScreen{
    position: absolute;
    transform: scale(1.8);
    left: 25%;
    bottom: 25%;
    background-image: radial-gradient(farthest-corner at 50% 100%,#888, #575454);
    border-radius: 20px;
    border-width: 3px;
    border-style: ridge;
    border-color: #888;
    border-radius: 5%;
    z-index: -1;
    
}
#AudioPlayer{
    position: absolute;
    top: 30%;
    left: 20%;

}
#trillo{
    position: absolute;
    transform: rotate(0deg);
    left: 5%;
    top:15%;

}

button{
    width: 70px;
    height: 70px;
    border-style:outset;
    border-width:7px;
    border-radius: 7px;
    border-color: #19535F;
    background-color: #19535F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    font-style:italic;
    font-size:large;
    font-weight:bold;
    
    
}


button:hover{
    background-color: #863459;
    border-color: #863459;
}



#pointer {
    transform-origin: bottom;
    
}
#t1{
    transform-origin: bottom;
    transform: rotate(-40deg);
}
#t2{
    transform-origin: bottom;
    transform: rotate(-30deg);
}
#t3{
    transform-origin: bottom;
    transform: rotate(-20deg);
}
#t4{
    transform-origin: bottom;
    transform: rotate(-10deg);
}
#t6{
    transform-origin: bottom;
    transform: rotate(10deg);
}
#t7{
    transform-origin: bottom;
    transform: rotate(20deg);
}
#t8{
    transform-origin: bottom;
    transform: rotate(30deg);
}
#t9{
    transform-origin: bottom;
    transform: rotate(40deg);
}



.pentagrammaContainer{
    position: absolute;
    
    
    height: 200px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.pentagramma {
    stroke: black;
    stroke-width: 1;
    left: 20%;
}
.note {
    fill: black;
}
.accidental {
    fill: black;
    font-size: 30px;
    text-anchor: end;
    border: black;
}
.ledger-line-temporary {
    stroke: #888; /* Colore temporaneo per i tagli addizionali */
    stroke-width: 1;
}
.ledger-line-permanent {
    stroke: black;
    stroke-width: 1;
}
.button-container {
    position: absolute;
    /*top: 15%;
    left: 2%;*/
    display: flex; /* Assicurati che i pulsanti siano in una riga */
}

#notaVisualizzata {
    margin-top: 20px;
    margin-left: 20%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}
